h1 {
	font-size: 40px;
	background: white;
	text-align: center;
	margin: 0px 0px 40px 0px;
	padding-top: 5px;
	padding-bottom: 20px;
}

body {
	background: #EFEFEF;
	margin: 0px 0px 0px 0px;
	width: 100%;

}
.dices {
	text-align: center;
	margin-bottom: 75px;
}

.img {
	box-shadow: -2px -2px white, 2px 2px gray;
	border-radius: 6px;
}

.table {
	width: 100%;
}
.a {
	width: 25%;
	text-align: right;
	font-weight: bold;
}

.b {
	text-align: right;
	width: 35px;
	height: 30px;
	margin-left: 0px;
	border-top: gray 2px solid;
	border-left: gray 2px solid;
	border-bottom: white 1px solid;
	border-right: white 1px solid;
	background-color: #AEAFFF;
}

.c {
	padding-left: 25%;
	text-align: center;
	
}

.roll, .newGame {
	border: none;
	box-shadow: -1px -1px white, 1px 1px gray;
	font-family: Times New Roman, Times, serif;
	font-size: 16px;
	padding: 4px 5px 4px 5px;
}

.roll {
	background-color: #5A00CD;
	color: #F4E1E5;
}

.newGame {
	background-color: #AFBFBF;
	color: #5A00CD;
}
